{#　子ども用　共通ベーステンプレート　#}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/child_base.css' %}">
    {% block extra_css %}
    {% endblock %}
   
    <title>child_base</title>
</head>
<body>
    <div class="app">
        <header class="site-header">
            <div class="header-inner">
                <a href="{% url 'child_home' %}" class="header-title">できたよ！</a>
                <div class="header-icons">
                </div>
            </div>
        </header>

        <main class="content-area">

    {% block content %}
    {% endblock %}

        </main>

        <footer class="site-footer">
        </footer>
    </div>
</body>
</html>