{# 保護者用　学習項目登録画面 #}

{% extends 'app/parent_base.html' %}
{% load index %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/parent_item_manage.css' %}">
{% endblock %}

{% block content %}

<h2>できた！項目</h2>

<form method="post" class="item-form">
    {% csrf_token %}
    {{ item_form }}
    <button type="submit" name="action" value="create" class="btn">登録</button>
</form>

<hr>

<form method="post" class="item-form">
    {% csrf_token %}
    <ul class="items">
        {% for color in colors %}
            {% with i=forloop.counter0 %}
                <li class="item-row">
                    <span class="color-box" style="background-color: {{ color }};"></span>
                    
                    <label class="item-label">
                        {% if i < items|length %}
                            {% with item=items|index:i %}
                                <span class="item-name">{{ item.item_name }}</span>
                                <input class="item-check" type="checkbox" name="item_ids" value="{{ item.id }}">
                            {% endwith %}
                        {% else %}
                            <span class="item-name">（未登録）</span>
                            <input class="item-check" type="checkbox" disabled>
                        {% endif %}
                    </label>
                </li>
            {%endwith%}
        {% endfor %}
    </ul>
    <button type="submit" name="action" value="delete" class="btn btn-danger">削除</button>
</form>

{% endblock %}