
.invite-outline {
    outline: 2px solid #b4b4b4;
    border-radius: 5px;
    width: 120px;
    height: 40px;              
    margin: 0 auto;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto 24px; 
}

.invite-outline p {
    margin: 0;
}

.invite-placeholder {
    visibility: hidden;
    height: 1em; /* 高さだけ確保 */
}

.invite-note{
    font-size: 14px;
    color: #555555;
    line-height: 1.6;
    text-align: left;
    padding-left: 16px;
}
