.item-form {
    align-self: center;  
    text-align: center;
    margin: 0 auto 8px;
    width: 100%; 
}
.item-input {
    width: 50%;
    height: 20px;
    max-width: 240px;
    margin: 0 auto 12px;
    display: block;
    padding: 8px 12px;
    font-size: 16px;
}
.item-manage.items{
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item-name{
    flex: 1;  
    white-space: nowrap;
}
.item-check{
    width: auto;
    margin: 0;
    padding: 0;
}

/* 学習項目 削除　*/

.delete-row {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 6px;
    margin-bottom: 2px;
    border-radius: 6px;
}

.delete-row.red .color-box    { background-color: #ff0000; }
.delete-row.orange .color-box { background-color: #ff9900; }
.delete-row.yellow .color-box { background-color: #ffff00; }
.delete-row.green .color-box  { background-color: #00ff00; }
.delete-row.cyan .color-box   { background-color: #00ffff; }
.delete-row.blue .color-box   { background-color: #0000ff; }
.delete-row.purple .color-box { background-color: #9900ff; }