{# 保護者用　ベーステンプレート #}

<!DOCTYPE html>
<html lang="ja">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{# 保護者用　ベースCSS #}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/parent/base.css' %}">
    {% block extra_css %}
    {% endblock %}

    <title>parent_base</title>
</head>

<body>
{# メッセージ用モーダル #}
    {% if messages %}
    <div class="modal-overlay">
        <div class="modal">
            <button class="modal-close" onclick="closeModal()">×</button>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{# メッセージ用モーダル　JavaScript (メッセージ用モーダルを閉じる)#}
    <script>
    function closeModal() {
        document.querySelector('.modal-overlay').style.display = 'none';
    }
    </script>

    <div class="app">
        <header class="site-header">
            <div class="header-inner">
                <a href="{% url 'parent_home' %}" class="header-title">できたよ！</a>
                    <div class="header-actions">
                        <a href="{% url 'parent_child_switch' %}" class="header-icon-link">
                            <img src="{% static 'icons/switching.png' %}" alt="切替" class="icon">
                        </a>

                        <a href="{% url 'parent_mypage' %}" class="header-icon-link">
                            {% if request.user.icon %}
                                <img src="{% static request.user.icon.image_url %}" alt="マイページ" class="mypage-icon">
                            {% endif %}
                        </a>
                    </div>
                </a>
            </div>
        </header>

        <main class="content-area">

    {% block content %}
    {% endblock %}

        </main>

        <footer class="site-footer">
            <div class="icon-row">
                <a href="{% url 'parent_home' %}">
                    <img class="icon" src="{% static 'icons/today.png' %}" alt="今日">
                </a>
                <a href="{% url 'parent_monthly_calendar' %}">
                    <img class="icon" src="{% static 'icons/calendar.png' %}" alt="カレンダー">
                </a>
                <a href="{% url 'parent_weekly_graph' %}">
                    <img class="icon" src="{% static 'icons/week.png' %}" alt="週間">
                </a>
                <a href="{% url 'parent_monthly_graph' %}">
                    <img class="icon" src="{% static 'icons/month.png' %}" alt="月間">
                </a>     
            </div>
        </footer>
    </div>
{# JavaScript用ブロック #}
    {% block extra_js %}

    {% endblock %}
</body>
</html>