{# 保護者用　兄弟姉妹切替 #}

{% extends 'app/parent/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/parent/family_list.css' %}">
<link rel="stylesheet" href="{% static 'css/parent/child_switch.css' %}">
{% endblock %}

{% block content %}

<h2>兄弟姉妹切替</h2>

<div class="list-box">  
  {% for child in children %}
    <div class="member-row">
      <form method="post" action="{% url 'parent_child_switch' %}" class="member-link">
        {% csrf_token %}
        <input type="hidden" name="child_id" value="{{ child.id }}">
        <button type="submit" class="member-button">

        <span class="avatar">
          <img
              src="{% static child.user.icon.image_url %}"
              alt="child_icon"
              class="member-icon"
          >
        </span>

        <span class="member-name">{{ child.user.username }}</span>
        </button>
      </form>
    </div>
  {% empty %}
    <p>お子様が登録されていません</p>
  {% endfor %}

{% endblock %}