{# 保護者用　ホーム画面 #}

{% extends 'app/parent/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/parent/home.css' %}">
{% endblock %}

{% block content %}

<p class="today">{{ today|date:"n月j日(D)" }}</p>

{% if not child %}
    <h2>お子様の登録を行ってください</h2>
{% else %}    
    <p class="child-name">{{ child.user.username }}</p>
    <h2>今日のできた！</h2>

    {% if daily_log %}
  <div class="items">
    {% for row in rows %}
      {% if row.item and row.item.id in checked_item_ids %}
        <div class="item-row">
          <span class="color-box {{ row.class }}"></span>
          <span class="item-name">{{ row.item.item_name }}</span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
    {% else %}
    <p>（まだ登録されていません）</p>
    {% endif %}


<p>{{ daily_log.child_comment|default:"（コメントなし）" }}</p>

{% if daily_log.photo1_url %}<img src="{{ daily_log.photo1_url.url }}" width="160">{% endif %}
{% if daily_log.photo2_url %}<img src="{{ daily_log.photo2_url.url }}" width="160">{% endif %}

{% if not daily_log.photo1_url and not daily_log.photo2_url %}
    <p>（写真なし）</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">送信</button>
</form>
{% endif %}
{% endblock %}
