{# 保護者用　ホーム画面 #}

{% extends 'app/parent/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/parent/home.css' %}">
{% endblock %}

{% block content %}
{# 日付 #}
<p class="today">{{ today|date:"n月j日(D)" }}</p>

{% if not child %}
    <h2>お子様の登録を行ってください</h2>
{% else %}    
<p class="child-name">{{ child.user.username }}</p>
<h2>今日のできた！</h2>
<div class="content-box">
    {% if daily_log %}
  <div class="items">
    {% for row in rows %}
      {% if row.item and row.item.id in checked_item_ids %}
        <div class="item-row">
          <span class="color-box {{ row.class }}"></span>
          <span class="item-name">{{ row.item.item_name }}</span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% else %}
<p>（まだ登録されていません）</p>
{% endif %}

<p>{{ daily_log.child_comment|default:"（コメントなし）" }}</p>
</div>
{# 写真 #}
<div class="photo-grid">
  {% if daily_log.photo1_url %}
    <div class="photo-box">
      <img class="photo-img" src="{{ daily_log.photo1_url.url }}" alt="photo1">
    </div>  
  {% endif %}

  {% if daily_log.photo2_url %}
    <div class="photo-box">
      <img class="photo-img" src="{{ daily_log.photo2_url.url }}" alt="photo2">
    </div>    
  {% endif %}

  {% if not daily_log.photo1_url and not daily_log.photo2_url %}
      <p>（写真なし）</p>
  {% endif %}
</div> 

<form method="post">
    {% csrf_token %}
      <div class="content-box">
        <div class="form-center">
          {{ comment_form.text }}
        </div>
      </div>
  <button type="submit" class="btn">送信</button>
</form>
{% endif %}
{% endblock %}
