{% extends 'app/parent/base.html' %}

{# CSS #}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/parent/invitation.css' %}">
{% endblock %}

{% block content %}
    <h2>招待コード</h2>

<div class="invite-outline">
    {% if invite %}
        <p class="invite-code">{{ invite.code }}</p>
    {% else %}
        <p class="invite-placeholder">&nbsp;</p> {# &nbsp; は「高さを保つための空白」 #}
    {% endif %}
</div>

    <form method="post" action="{% url 'invitation' %}">
        {% csrf_token %}
        <button type="submit" class="btn">招待コード発行</button>
    </form>

<p>招待コードを新規登録画面で入力してください</p>

<p class="invite-note">
    ・保護者：他の家族と連携できます<br>
    ・子ども：保護者のアカウントに紐づいて利用できます
</p>

{% endblock %}
