{# 保護者用　学習項目登録画面 #}

{% extends 'app/parent/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/parent/item_manage.css' %}">
{% endblock %}

{% block content %}
<p class="child-name">{{ child.user.username }}</p>
<h2>できた！項目</h2>

<form method="post" class="item-form">
    {% csrf_token %}
    <input type="hidden" name="action" value="create">

    {{ item_form.non_field_errors }}
    
    <div class="form-row">
    {{ item_form.item_name }}
    <button type="submit" class="btn">登録</button>
    </div>
</form>

<hr>

<form method="post" class="delete-box">
    {% csrf_token %}
    <input type="hidden" name="action" value="delete">

    {% for row in rows %}
    <div class="delete-row {{ row.class }}">

    {#色付き四角#}
    <span class="color-box"></span>

    {# チェックボックス #}
    <input
        type="checkbox"
        name="item_ids"
        {% if row.item %}
        value="{{ row.item.id }}"
        {% else %}
        disabled
        {% endif %}
    >

    {# 表示テキストだけ切り替える #}
        {% if row.item %}
            <span class="name">{{ row.item.item_name }}</span>
        {% else %}
            <span class="name muted">未登録</span>
        {% endif %}

    </div>
  {% endfor %}

    <button type="submit" class=" btn btn-danger ">削除</button>
</form>
{% endblock %}
