{# 保護者用　学習項目登録画面 #}

{% extends 'app/parent/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/parent/item_manage.css' %}?v=13">
{% endblock %}

{% block content %}

{% if child %}
<p class="child-name">{{ child.user.username }}</p>
<h2>できた！項目</h2>

<form method="post" class="item-form" onsubmit="return disableSubmit(this);">
    {% csrf_token %}
    <input type="hidden" name="action" value="create">

    {{ item_form.non_field_errors }}
    
    <div class="form-row">
    {{ item_form.item_name }}
    <div class="field-error">
        {{ item_form.item_name.errors }}
    </div>
    <button type="submit" class="btn" >登録</button>
    </div>
</form>

<form method="post" class="delete-box">
    {% csrf_token %}
    <input type="hidden" name="action" value="delete">

        <div class="content-box">

            {% for row in rows %}
                <div class="delete-row {{ row.class }}">

                    {#色付き四角#}
                    <span class="color-box"></span>

                    {# チェックボックス #}
                    <input
                        type="checkbox"
                        name="item_ids"
                        {% if row.item %}
                        value="{{ row.item.id }}"
                        {% else %}
                        disabled
                        {% endif %}
                    >

                    {# 表示テキストだけ切り替える #}
                    {% if row.item %}
                        <span class="item-name">{{ row.item.item_name }}</span>
                    {% else %}
                        <span class="name muted">未登録</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    <button type="submit" class=" btn btn-danger " >削除</button>

</form>

{% else %}
<h2>できた！項目</h2>
<p>
    お子さまのアカウント情報が必要です<br>
    先にお子さまのアカウントを登録してください
</p>
{% endif %}

{% endblock %}

{% block extra_js %}
<script>
function disableSubmit(form){
    const btn = form.querySelector('button[type="submit"]');
    if(!btn) return true;
    btn.disabled = true;
    btn.textContent = "登録中...";
    return true;
}
</script>
{% endblock %}
