{# 保護者用　パスワード変更 #}

{% extends 'app/parent/base.html' %}

{% load static %}

{# メッセージ用モーダはbase.htmll #}

{% block content %}
<h2>パスワード変更</h2>

<form method="post">
  {% csrf_token %}
  <div>
    {{ parent_password_change_form.old_password.label_tag }}
    {{ parent_password_change_form.old_password }}
  </div>

  <div>
    {{ parent_password_change_form.new_password1.label_tag }}
    {{ parent_password_change_form.new_password1 }}
  </div>

  <div>
    {{ parent_password_change_form.new_password2.label_tag }}
    {{ parent_password_change_form.new_password2 }}
  </div>

  <button type="submit" class="btn">変更</button>
</form>

{# messageがあればモーダルを開く base.html #}

{% endblock %}