{# 保護者用　週間学習記録画面グラフ #}

{% extends 'app/parent/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/parent/weekly_graph.css' %}">
{% endblock %}

{% block content %}

{% if not child %}
  <p>お子さまを登録すると週間グラフが表示されます</p>
{% else %}
<p class="child-name">{{ child.user.username }}</p>
<div class="period-header">
  <a href="{% url 'parent_weekly_graph_by_week' prev_year prev_month prev_day %}" class="arrow">←</a>
  <span class="period-title">１週間のできた！</span>
  <a href="{% url 'parent_weekly_graph_by_week' next_year next_month next_day %}" class="arrow">→</a>
</div>

  <div> {{ start_date|date:"n月j日(D)" }}〜{{ end_date|date:"n月j日(D)" }} <div>

  <div class="content-box chart-box">
    <div class="chart-wrap">
      <canvas id="weeklyChart"></canvas>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const labels = {{ labels|safe }};
    const counts = {{ counts|safe }};

    new Chart(document.getElementById("weeklyChart"), {
      type: "bar",
      data: {
        labels: labels,
        datasets: [{
          label: "1日のできた数",
          data: counts,
          backgroundColor: "#b2caf3ff",
        }]
      },
      options: {
        maintainAspectRatio: false,
        scales: { y: { beginAtZero: true, ticks: { precision: 0 } } }
      }
    });
  </script>
{% endif %}

{% endblock %}