body{
    margin: 0;
    min-height: 100dvh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #eee;
    font-size: 16px;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN",
               "Yu Gothic", "Meiryo", sans-serif;
}
.app{
    width: 100%;
    max-width: 390px;
    min-height: 100dvh; 
    height: auto;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: flex-start; 
    align-items: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
input:not([type="radio"]){
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 1rem;
    box-sizing: border-box;
}
.form-box{
    width: 85%;
}
.form-box p{
    white-space: nowrap;
}
.role{
    display: flex;
    gap: 24px;         
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.role-label{
    white-space: nowrap;
}
.role-item {
    display: flex;
    align-items: center;
    gap: 6px;
}      
input[type="submit"]{
    width: 100px;
    padding: 6px 12px;
    margin: 0 auto 4px;
    display: block;
    font-size: 14px;
    background-color: #98ee98ff;
    color: #000;
}
.app-title{
    margin: 40px 0 30px;
    text-align: center;
    font-size: 36px;
    color: #59b421;
    letter-spacing: 0.02em;
    font-weight: 900;
    text-shadow:
    0.5px 0 #59b421,
   -0.5px 0 #59b421,
    0 0.5px #59b421,
    0 -0.5px #59b421;
}
/* プレスホルダーの文字 */
input::placeholder {
    font-size: 0.8rem;   /* 小さくする */
}
/* エラー文 */

.errorlist,
.errorlist li,
.error {
    color: red;
    display: block;
    list-style: none;   /* ●を消す */
    padding: 0;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 0.9rem;
}
/* フォームの枠 */
input,
textarea,
select {
  border: 1px solid #555;
}
/* ユーザー名　注意書き */
.form-note {
    font-size: 12px;
    color: #555;
    margin-top: 0px;
}
/* ユーザー名　フォーム */
.username-group input {
    margin-bottom: 4px;
}