/* ベース */
body {
    height: 100dvh;
    margin: 0;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: var(--bg);
    overflow: hidden;
    display: flex;
    }
h2 {
    text-align: center;
    margin: 2px 0;
}

.app {
    width: 100%;
    max-width: 390px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--surface);
    text-align: center;
    }

/* ヘッダー・フッター */
.site-header,
.site-footer {
    background-color: var(--primary-bg); 
    color: var(--primary-fg);                
    padding: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none; 
    height: 44px;
    flex-shrink: 0;
    flex: 0 0 auto;
}
.header-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.header-title {
    font-weight: 900
;
    color: var(--primary-fg);
    text-decoration: none;
    font-size: 30px;
}


/* content-area */
.content-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* それぞれの囲い */
.content-box{
    outline: 2px solid #b4b4b4;
    border-radius: 5px;
    padding: 12px;
    margin: 8px auto;     /* 左右autoで中央基準 */
    width: calc(100% - 32px); /* 左右16pxを維持 */
    box-sizing: border-box;
}

/* アイコン */
.mypage-icon{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 2px solid #595959;
}
/* コメントのアイコン */
.comment-icon{
    width: 32px;         /* 好みで調整 */
    height: 32px;
    object-fit: cover;

    border-radius: 50%;      /* 丸形 */
    border: 2px solid #595959;

    flex: 0 0 auto;          /* つぶれ防止 */
    display: block;          /* baseline由来のズレを減らす */
}
/* 保護者ヘッダーアイコン */
.icon-row {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: -5px;
}
/* フッターアイコン */
.icon {
    width: 60px;
    height: 55px;
}

/* アイコン一覧　現在のアイコン */
.current-icon img{
    width: 160px;                 /* 好きなサイズに調整 */
    height: 160px;
    border-radius: 50%;           /* 丸くする */
    border: 2px solid #595959;/* 円で囲う（共通色） */
    display: block;
    margin: 0 auto 44px;          /* 中央寄せ＋下余白 */
}

/* アイコン変更一覧　ラジオボタンなくす */
.icon-choice input[type="radio"]{
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}
/* アイコン変更一覧　画像選択 */
.icon-choice{
    display: inline-block;
    cursor: pointer;
}
/* アイコン変更一覧のアイコン */
.icon-img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #b4b4b4;
    margin: 0 ;
    flex-shrink: 0;
}
/* アイコンが選択されたとき （.icon-choice の中でラジオボタンが選ばれていたら　その隣にある画像に）*/
.icon-choice input[type="radio"]:checked + .icon-img{
    border: 4px solid var(--btn-bg);
}
/* アイコン変更　並び */
.icon-grid{
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: nowrap;
    margin: 0;
}

/* 子どものコメント */
.child-comment{
    display: flex;
    align-items: center;
    gap: 10px;           /* アイコンと文字の間隔 */

    text-align: left; /* 親の中央寄せを打ち消す */
    word-break: break-word;
}
.child-comment-text{
    display: inline-block;     /* 文字の箱として扱う */
    padding: 6px 10px;
    border-radius: 6px;
    white-space: pre-line; /* 改行は残す／スペースは潰す */

    line-height: 1.3;          /* 高さを自然に */
    text-align: left;

    max-width: 240px;          /* 画面幅に合わせて調整 */
    word-break: break-word;
}
/* 保護者コメント */
.parent-comment{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 12px;   
}
.parent-comment-text{
    white-space: pre-line; /* 改行は残す／スペースは潰す */
}

.parent-comment-row:last-child{
  margin-bottom: 0;
}

/* 保護者コメントの吹き出し */
.comment-bubble{
    padding: 8px 12px;
    border-radius: 12px;
    background: #eeeeeeff;
    border: 1px solid #1c4587;
    max-width: 75%;
    line-height: 1.4;
    font-size: 14px;
    position: relative;
}
/* 保護者コメントの吹き出し しっぽ部分*/
.comment-bubble::before{
    content: "";
    position: absolute;
    left: -6px;
    top: 10px;
    width: 10px;
    height: 10px;
    background: #eeeeeeff;
    border-left: 1px solid #1c4587;
    border-bottom: 1px solid #1c4587;
    transform: rotate(45deg);
}

/* ボタン */
.btn {
    display: block;
    width: 30%;
    max-width: 300px;
    margin: 12px auto;
    margin-bottom: 4px;

    padding: 10px 0;
    border: 2px solid var(--btn-border);
    border-radius: 8px;
    background: var(--btn-bg);
    
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.btn.btn-danger { 
    background: var(--danger-bg);
    border-color: var(--danger-border);
}

/* 未登録・コメントなし */
.muted { color: var(--muted); }

/* モーダル 通常非表示　必ず優先して非表示（!important）*/
.hidden {
    display: none !important;
}
/* 画面全体を覆う背景 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: auto;
}
/* メッセージの箱 */
.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    position: relative;
    pointer-events: auto;
}
/*　モーダルを閉じるボタン */
.modal-close {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #999;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
}

/*　ボタンの置き場 　ログアウト・キャンセル・削除・登録などメッセージ以外*/ 
.modal-actions{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
/*　モーダルの共通ボタン */
.modal-actions .btn {
    width: 100px;    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;     
    padding: 0px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #999;
    background: #fff;
    color: #333;
}

.modal-actions .btn.yes {
    background: #ea9999ff;
    border: 2px solid #999;
    color: #333;
}

.modal-actions .btn.no {
    background: #b7b7b7ff;
    border: 2px solid #999;
    color: #333;
}

/* 日付などの上段 */
.top-row{
    position: relative;
    margin-top: 0;  
    padding-top: 0;    
    margin: 0 0 4px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today{
    position: static;
    transform: none;
    font-size: 18px;
    margin: 0;
}
.child-name{
    font-size: 1.5em;   /* h2と同じサイズ */
    font-weight: bold;
    margin: 0;
}

/* 学習項目 */
.items{
    padding-left: 0;
    margin: 0 0 12px;
}

.item-row{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 0;
}

.color-box{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    display: inline-block;
}

.item-name{
    text-align: left;
}


.color-box.red    { background-color: #ff0000; }
.color-box.orange { background-color: #ff9900; }
.color-box.yellow { background-color: #ffff00; }
.color-box.green  { background-color: #00ff00; }
.color-box.cyan   { background-color: #00ffff; }
.color-box.blue   { background-color: #0000ff; }
.color-box.purple { background-color: #9900ff; }

/* 写真 */
.photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.photo-box{
    width: 160px;
    height: 100px;           /* ←プレビュー枠と同じ高さに */
    border: 2px solid #bfbfbf;
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 160px;
    margin: 8px;      
}

.photo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
    display: block;
    background: #fff; 
}


/* メールアドレス・パスワード入力 */
input[type="email"],
input[type="password"]{
    width:80%;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0 auto 28px;
}
/* プレスホルダーの文字 */
input[type="email"]::placeholder,
input[type="password"]::placeholder{
    font-size: 0.8rem;   /* 小さくする */
}
/* メールアドレス・パスワード（まとめて）のラベル */
label[for="id_current_email"],
label[for="id_new_email"],
label[for="id_old_password"],
label[for^="id_new_password"]{
    display: block;
    width: 80%;
    text-align: left;

    margin: 0 auto 2px;
    line-height: 1.2;     /*  行間を詰める */
}