
 body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    margin: 0;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: #eee;
    }
h2 {
  text-align: center;
}
.app {
    width: 100%;
    max-width: 390px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
    }
.item-form input{
  width: 70%;
  max-width: 240px;
  padding: 8px;
  font-size: 14px;
  display: block;
  margin: 0 auto 12px;
}
.item-form button,
.item-form input[type="submit"]{
  width: 120px;
  padding: 6px 12px;
  font-size: 14px;
  display: block;
  margin: 0 auto 12px;
}
.site-header {
    background-color: #98ee98ff; 
    color: #38761d;                
    padding: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none; 
    height: 44px;
    flex-shrink: 0;
    flex: 0 0 auto;
}
.header-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.header-title {
    font-weight: 900
;
    color: #38761d;
    text-decoration: none;
    font-size: 35px;
}
.header-icons a {
    margin-left: 8px;
    text-decoration: none;
    color: #38761d;
}
.content-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 16px 0;
}
.site-footer {
    background-color: #98ee98ff; 
    color: #38761d;                
    padding: 15px;
    text-align: center;
    margin-top: auto;
    height: 44px;
    flex: 0 0 auto;
}