
 body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    margin: 0;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: #eee;
    }
h2 {
    text-align: center;
    margin: 8px 0;
}
.app {
    width: 100%;
    max-width: 390px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    }

.btn {
    display: block;
    width: 30%;
    max-width: 300px;
    margin: 12px auto;

    padding: 10px 0;
    border: 2px solid #1c4587;
    border-radius: 8px;
    background: #b2caf3ff;
    
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.btn.btn-danger { 
    background: #ff9999ff;
    border-color: #d40d0dff;
}
.site-header {
    background-color: #b2caf3ff; 
    color: #1c4587;                
    padding: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none; 
    height: 44px;
    flex-shrink: 0;
    flex: 0 0 auto;
}
.header-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.header-title {
    font-weight: 900
;
    color: #1c4587;
    text-decoration: none;
    font-size: 35px;
}
.header-icons a {
    margin-left: 8px;
    text-decoration: none;
    color: #1c4587;
}
.content-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 8px 0;
}
.site-footer {
    background-color: #b2caf3ff; 
    color: #1c4587;                
    padding: 15px;
    text-align: center;
    margin-top: auto;
    height: 44px;
    flex: 0 0 auto;
}
.footer-icons a {
    margin-left: 8px;
    text-decoration: none;
    color: #1c4587;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    position: relative;
}
.modal-close {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #999;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
}

.modal-close:hover {
    color: #000;
}
