/* 全体 */
body{
  margin: 0;
  background:  #F7F7F7;
  color: #111;
}

h1{
  letter-spacing: 0.04em;
}

h1 .title{
  margin-left: 20px;
  font-weight: 500;  
}

.wrap{
  max-width: 980px;
  margin: 0 auto;
  padding: 20px 20px 80px;
  text-align: center;
}
/* スクリーンショット横並び */
.shot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
} 
.screenshots{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  flex-wrap: wrap;
  margin: 18px 0 26px;
}
/* スクリーンショット外側 サイズと見た目*/
.app-screenshot{
  width: 200px;
  border-radius: 14px;
  overflow: hidden;
  display: block;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);  /* 影 */
}

/* スクリーンショット内側　収まり方 */
.app-screenshot img{
  width: 100%;
  height: auto;
  display: block;
}

/* 説明文 */
.app-description{
  margin: 12px auto 26px;
  max-width: 860px;
  line-height: 1.9;
  font-size: 16px;
}
/* 資料リンク　リンク線はホバー時だけ */
.reference-links a{
  text-decoration: none;
  color: rgb(32, 174, 32);
  font-weight: 600;
}
.reference-links a:hover{
  text-decoration: underline;
}
.reference-links{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
/* アプリへのボタン */
.app-link a{
  display: inline-block;   
  padding: 14px 36px;
  margin: 18px auto 18px;
  background-color: rgb(32, 174, 32); 
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;  
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);  /* 影 */
}