{#　子ども用　共通ベーステンプレート　#}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{# Googleフォント #}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

{# 子ども用　ベースCSS #}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/child/base.css' %}">
    {% block extra_css %}
    {% endblock %}
   
    <title>child_base</title>
</head>

<body>
{# メッセージ用モーダル #}
    {% if messages %}
    <div class="modal-overlay">
        <div class="modal">
            <button class="modal-close" onclick="closeModal()">×</button>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{# メッセージ用モーダル　JavaScript (メッセージ用モーダルを閉じる)#}
    <script>
    function closeModal() {
        document.querySelector('.modal-overlay').style.display = 'none';
    }
    </script>
{# ヘッダー #}
    <div class="app">
        <header class="site-header">
            <div class="header-inner">
                <a href="{% url 'child_home' %}" class="header-title">できたよ！</a>
                    <div class="mypage-icons">
                    <a href="{% url 'child_mypage' %}">
                        {% if request.user.icon %}
                        <img
                            class="mypage-icon"
                            src="{% static request.user.icon.image_url %}"
                            alt="icon">
                        {% endif %}
                    </a>
                    </div>
            </div>
        </header>

        <main class="content-area">

        {% block content %}
        {% endblock %}

        </main>

        <footer class="site-footer">
            <div class="icon-row">
                <a href="{% url 'child_home' %}">
                    <img class="icon" src="{% static 'icons/today.png' %}" alt="今日">
                </a>
                <a href="{% url 'child_monthly_calendar' %}">
                    <img class="icon" src="{% static 'icons/calendar.png' %}" alt="カレンダー">
                </a>
                <a href="{% url 'child_weekly_graph' %}">
                    <img class="icon" src="{% static 'icons/week.png' %}" alt="週間">
                </a>
                <a href="{% url 'child_monthly_graph' %}">
                    <img class="icon" src="{% static 'icons/month.png' %}" alt="月間">
                </a>
            </div>      
        </footer>
    </div>
{# JavaScript用ブロック #}
    {% block extra_js %}

    {% endblock %}
</body>
</html>