{# 子ども用　メールアドレス変更 #}

{% extends 'app/child/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/child/email_change.css' %}">
{% endblock %}

{% block content %}
<h2>メールアドレス変更</h2>



<form method="post">
    {% csrf_token %}
    <div class="current-email">
        <label>現在のメールアドレス:</label>
        <div class="readonly-box">{{ current_email }}</div>
    </div>

    <div>
    {{ email_change_form.new_email.label_tag }}
    {{ email_change_form.new_email }}
        {{ email_change_form.new_email.errors }}
    </div>


    <button type="submit" class="btn">変更</button>
</form>




{% endblock %}