{# 子ども用　ホーム画面 #}

{# 継承 #}
{% extends 'app/child/base.html' %}

{# CSS #}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/child/home.css' %}">
{% endblock %}

{# ホーム画面内容 #}
{% block content %}

<div class="top-row">
    <p class="today">{{ today|date:"n月j日(D)" }}</p>
    {% if not is_past %}
      <a href="{% url 'child_record' %}" class="add-button">＋</a>
    {% endif %}
</div>
{% if is_past %}
  <h2>この日のできた！</h2>
{% else %}
  <h2>今日のできた！</h2>
{% endif %}
<div class="content-box">
    {% if daily_log %}
      <div class="items">
        {% for row in rows %}
          {% if row.item and row.item.id in checked_item_ids %}
            <div class="item-row">
              <span class="color-box {{ row.class }}"></span>
              <span class="item-name">{{ row.item.item_name }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
    <p>（まだ登録されていません）</p>
    {% endif %}

    <div class="home-comment home-comment--child">
      {% if request.user.icon %}
          <img
            class="comment-icon"
            src="{% static request.user.icon.image_url %}"
            alt="commenticon">
      {% endif %}
      
      <span class="home-comment-text">
        {{ daily_log.child_comment|default:"（コメントなし）" }}
      </span>
    </div>
</div>
{% if daily_log %}
  <div class="photo-grid">
    {% if daily_log.photo1_url %}
      <div class="photo-box">
        <img class="photo-img" src="{{ daily_log.photo1_url.url }}" alt="photo1">
      </div>  
    {% endif %}

    {% if daily_log.photo2_url %}
      <div class="photo-box">
        <img class="photo-img" src="{{ daily_log.photo2_url.url }}" alt="photo2">
      </div>    
    {% endif %}

    {% if not daily_log.photo1_url and not daily_log.photo2_url %}
        <p>（写真なし）</p>
    {% endif %}
  </div> 
{% else %}
  <p>（まだ記録がありません）</p>
{% endif %}

<div class="content-box">
<p>{{ daily_log.parent_comment|default:"（コメントなし）" }}</p>
</div>



{% endblock %}
