{# 子ども用　月間学習記録画面カレンダー #}

{% extends 'app/child/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/child/monthly_calendar.css' %}">
{% endblock %}

{% block content %}

<a href="{% url 'child_monthly_calendar_by_month' prev_year prev_month %}">←</a>
<span>{{ month }}月のできた！</span>
<a href="{% url 'child_monthly_calendar_by_month' next_year next_month %}">→</a>


<table class="calendar">{# 表でカレンダー作成 #}
  <tr>
    <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
  </tr>
  {% for week in month_days %}{# １週間ずつ取り出し1行に #}
  <tr>
    {% for day in week %}{# １日ずつ見る #}
      {% if day == 0 %}{# 先月・来月のはみ出した日は空白 #}
        <td class="empty"></td>{# １マス #}
      {% else %}
        <td>
          {{ day }}
          {% if day in learned_days %}
             <a href="{% url 'child_home_by_date' year month day %}" class="star-link">⭐</a>
          {% endif %}
        </td>
      {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}