{# 子ども用　パスワード変更 #}

{% extends 'app/child/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/child/monthly_graph.css' %}">
{% endblock %}

{# メッセージモーダル　JavaScript#}
{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", () => {
  const resultModal = document.getElementById("result-modal");
  const closeResult = document.getElementById("close-result");
  if (!resultModal) return;

  // モーダルを開く
  resultModal.classList.remove("hidden");

  // 閉じるボタン
  if (closeResult) {
    closeResult.addEventListener("click", () => {
      resultModal.classList.add("hidden");
    });
  }
});
</script>
{% endblock %}

{% block content %}
<h2>パスワード変更</h2>

<form method="post">
  {% csrf_token %}
  <div>
    {{ child_password_change_form.old_password.label_tag }}
    {{ child_password_change_form.old_password }}
  </div>

  <div>
    {{ child_password_change_form.new_password1.label_tag }}
    {{ child_password_change_form.new_password1 }}
  </div>

  <div>
    {{ child_password_change_form.new_password2.label_tag }}
    {{ child_password_change_form.new_password2 }}
  </div>

  <button type="submit" class="btn">変更</button>
</form>

{# messageがあればモーダルを開く #}
{% if messages %}
<div id="result-modal" class="modal-overlay hidden">
  <div class="modal">
  
      <button type="button" class="modal-close" id="close-result" aria-label="閉じる">×</button>


    {% for message in messages %}
      <p class="modal-message {{ message.tags }}">{{ message }}</p>
    {% endfor %}

  </div>
</div>
{% endif %}

{% endblock %}