{# 子ども用　パスワード変更 #}

{% extends 'app/child/base.html' %}

{% load static %}

{# メッセージモーダル　JavaScriptはbase.html#}

{% block content %}
<h2>パスワード変更</h2>

<form method="post">
  {% csrf_token %}
  <div>
    {{ child_password_change_form.old_password.label_tag }}
    {{ child_password_change_form.old_password }}
  </div>

  <div>
    {{ child_password_change_form.new_password1.label_tag }}
    {{ child_password_change_form.new_password1 }}
  </div>

  <div>
    {{ child_password_change_form.new_password2.label_tag }}
    {{ child_password_change_form.new_password2 }}
  </div>

  <button type="submit" class="btn">変更</button>
</form>

{# messageがあればモーダルを開く base.html#}

{% endblock %}