{# 子ども用　週間学習記録画面グラフ #}

{% extends 'app/child/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/child/weekly_graph.css' %}">
{% endblock %}

{% block content %}
<div class="period-header">
  <a href="{% url 'child_weekly_graph_by_week' prev_year prev_month prev_day %}" class="arrow">←</a>
  <span class="period-title">１週間のできた！</span>
  <a href="{% url 'child_weekly_graph_by_week' next_year next_month next_day %}" class="arrow">→</a>
</div>

  <h2> {{ start_date|date:"n月j日(D)" }}〜{{ end_date|date:"n月j日(D)" }} </h2>

  <div class="content-box chart-box">
    <div class="chart-wrap">
      <canvas id="weeklyChart"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const labels = {{ labels|safe }};
    const counts = {{ counts|safe }};

    new Chart(document.getElementById("weeklyChart"), {
      type: "bar",
      data: {
        labels: labels,
        datasets: [{
          label: "1日のできた数",
          data: counts,
          backgroundColor: "#98ee98",
        }]
      },
      options: {
        maintainAspectRatio: false,
        scales: { y: { beginAtZero: true, ticks: { precision: 0 } } }
      }
    });
  </script>


{% endblock %}