.add-button {
    position: static; 
    right: 8px;
    top: 0%;
    transform: none;
    margin-left: auto;
    text-decoration: none;
    color: #000;
    font-size: 26px;
    font-weight: 900;
    line-height: 1;
    white-space: pre-line; /* 改行は残す／スペースは潰す */
    text-shadow:/* 文字を　二重描画　*/
        1px 0 #000,
        -1px 0 #000,
        0 1px #000,
        0 -1px #000,
        1px 1px #000,
        -1px -1px #000,
        1px -1px #000,
        -1px 1px #000;
}
/* 保護者コメントないとき */
.parent-comment-note {
    font-size: 0.9rem;
}
/* 変更ボタン */
.add-button.edit-button{
    display: inline-flex;      /* inline要素のままflexにする */
    align-items: center;       /* 縦中央 */
    justify-content: center;   /* 横中央 */

    width: 66px;
    height: 40px;
    border-radius: 9999px;

    padding: 0;                
    line-height: 1;       
    white-space: nowrap;       
    text-shadow: none;       

    font-size: 16px;
    font-weight: 700;

    background: #fff;             
    border: 2px solid var(--btn-bg);   
    color: var(--btn-border);              
    border-radius: 12px;          
    }
