.add-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    white-space: pre-line; /* 改行は残す／スペースは潰す */
}




