{# パスワード再設定送信画面 #}
{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password_reset_confirm</title>

    <link rel="stylesheet" href="{% static 'css/auth/password_reset_confirm.css' %}">
</head>

<body>
    <div class="app">
    <h1 class="app-title">できたよ！</h1>
        <form method="POST">
            {% csrf_token %}
            {{ confirm_form.as_p }}
            <input type="submit" value="再設定">
        </form>
    </div>

</body>
</html>