{# パスワード再設定　リンク切れ　画面 #}
{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Googleフォント #}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  
    <title>password_reset_invalid</title>
  
    <link rel="stylesheet" href="{% static 'css/auth/request_password_reset.css' %}">
</head>

<body>
    <div class="app">
        <h1 class="app-title">できたよ！</h1>

        <p class="text-center">リンクが無効です</p>
        <p class="text-center">このパスワード再設定リンクは無効になっています</p>
        <p class="text-center"> もう一度パスワードの再設定を行ってください</p>

        <div style="text-align: center; margin-top: 16px;">
           <a href="{% url 'request_password_reset' %}">パスワードを再設定する</a>
        </div>
    </div>
</body>
</html>
