{# パスワード再設定変更画面 #}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>request_password_reset</title>

    <link rel="stylesheet" href="{% static 'css/auth/request_password_reset.css' %}">
</head>
<body>
    <div class="app">
    <h1 class="app-title">できたよ！</h1>
        <form method="POST">
            <div><p class="text-center">登録したメールアドレスを入力してください</p></div>
            <div><p class="text-center">再設定のURLを送信します</p></div>
            
            {% csrf_token %}
            {{ reset_form.as_p }}

            <div><input type="submit" value="送信"></div>
        </form>
        <div style="text-align: center;">
            <a href="{% url 'login' %}">ログイン</a>
        </div>   
    </div>
</body>
</html>