{# パスワード再設定送信完了　画面 #}
{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Googleフォント #}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  
    <title>request_password_reset_done</title>
  
    <link rel="stylesheet" href="{% static 'css/auth/request_password_reset.css' %}">
</head>

<body>
    <div class="app">
        <h1 class="app-title">できたよ！</h1>

        <p class="text-center">送信しました</p>
        <p class="text-center">届いたメールのURLから再設定してください</p>
        <p class="text-center">※迷惑メールもご確認ください</p>

        <div style="text-align: center; margin-top: 16px;">
            <a href="{% url 'login' %}">ログインへ戻る</a>
        </div>
    </div>
</body>
</html>
